/* 
    Jim Style Code
    CS 3500
    Fall 2024
*/

.SpreadsheetTitle
{
    text-align: center;
}

.SpreadsheetCell
{
    width: 250px;
    width: 150px;
    max-width: 150px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container 
{
    border: 1px solid black;
    border-radius: 5px;
}

.selected
{
    border: 2px solid blue;
}

.selected input
{
    display: block; 
}


.selected span
{
    display: none;
}

.table-container
{
    overflow-x: auto;
}

.fixed-header
{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #ffffff !important;
    border-bottom:2px solid black;
}

.fixed-column
{
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: #ffffff !important;
    border-right: 2px solid black;
}

.scrollable
{
    white-space: nowrap; /* Ensures no line breaks within cells */
    width: 1000px;
    height: 500px;
    margin: -1px;
}

.CellInput 
{

    display: none;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

#toolbar 
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    overflow: hidden;
    margin: 5px;
    padding: 5px;
}

#RowColDisplay
{
    width:50px;
    text-align:center;
    border:0px;
}

#FormulaValue
{
    color:darkblue;
    overflow-x: auto;
}

#FormulaContent
{
    width:450px;
}

#FileHandlers
{
    margin: 20px;
}

#FileHandlers input 
{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    overflow: hidden;
}

.upload-container
{
    position: relative; /* Needed for label positioning */
    display: inline-block; /* Allow custom styling */
}

.custom-input
{
    display: none; /* Hide the default input */
}

#hideUglyWidget
{
    display:none;
}

#FileMenu 
{
    width: 100%;
    margin: 5px;
    padding: 5px;
}
